// Thanks to all unsplash users
/*
https://unsplash.com/photos/376KN_ISplE?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/9OWS4lT5iqQ?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/VyOtjKmSnKQ?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/4_jhDO54BYg?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/ukzHlkoz1IE?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/75nbwHfDsnY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/XLUuAayDyHs?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/sAK6VevzJ6U?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/TsbPt7n2bjI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/8T_EacPRf0g?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/mjRwhvqEC0U?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/Nyvq2juw4_o?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/ukvgqriuOgo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/7nrsVjvALnA?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/fbAnIjhrOL4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/w2JtIQQXoRU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/PDX_a_82obo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
https://unsplash.com/photos/vbAEHCrvXZ0?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
*/

// FONT
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

// TOOLS
@import './tools/reset';
@import './tools/grid';

// BASE
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/base';

// LAYOUT
@import './layout/header';
@import './layout/main';
@import './layout/footer';

// MODULES
@import './modules/home';
@import './modules/about';
@import './modules/blog';
@import './modules/article';
@import './modules/contact';
@import './modules/ieFix';
